
.container
	box-sizing: border-box

	// Phone

	@media (max-width: $phn-sm-max)

		@if $container-width-phn-sm == auto
			width: $container-width-phn-sm
			margin: $container-auto-width-margin

		@else
			width: $container-width-phn-sm
			margin: 0 auto

	@media (min-width: $phn-md-min)

		@if $container-width-phn-md == auto
			width: $container-width-phn-md
			margin: $container-auto-width-margin
			
			$container-width-phn-md-auto: true

		@else
			width: $container-width-phn-md
			margin: 0 auto
			
			$container-width-phn-md-auto: false

	@media (min-width: $phn-lg-min)

		@if $container-width-phn-lg == auto
			width: $container-width-phn-lg
			margin: $container-auto-width-margin
			
			$container-width-phn-lg-auto: true

		@else
			width: $container-width-phn-lg
			margin: 0 auto
			
			$container-width-phn-lg-auto: false

	// Tablet

	@media (min-width: $tab-sm-min)

		@if $container-width-tab-sm == auto
			width: $container-width-tab-sm
			margin: $container-auto-width-margin
			
			$container-width-tab-sm-auto: true

		@else
			width: $container-width-tab-sm
			margin: 0 auto
			
			$container-width-tab-sm-auto: false

	@media (min-width: $tab-md-min)

		@if $container-width-tab-md == auto
			width: $container-width-tab-md
			margin: $container-auto-width-margin
			
			$container-width-tab-md-auto: true

		@else
			width: $container-width-tab-md
			margin: 0 auto
			
			$container-width-tab-md-auto: false

	@media (min-width: $tab-lg-min)

		@if $container-width-tab-lg == auto
			width: $container-width-tab-lg
			margin: $container-auto-width-margin
			
			$container-width-tab-lg-auto: true

		@else
			width: $container-width-tab-lg
			margin: 0 auto
			
			$container-width-tab-lg-auto: false


	// PC

	@media (min-width: $pc-sm-min)

		@if $container-width-pc-sm == auto
			width: $container-width-pc-sm
			margin: $container-auto-width-margin
			
			$container-width-pc-sm-auto: true

		@else
			width: $container-width-tab-sm
			margin: 0 auto
			
			$container-width-pc-sm-auto: false

	@media (min-width: $pc-md-min)

		@if $container-width-pc-md == auto
			width: $container-width-pc-md
			margin: $container-auto-width-margin
			
			$container-width-pc-md-auto: true

		@else
			width: $container-width-tab-md
			margin: 0 auto
			
			$container-width-pc-md-auto: false

	@media (min-width: $pc-lg-min)

		@if $container-width-pc-lg == auto
			width: $container-width-pc-lg
			margin: $container-auto-width-margin
			
			$container-width-pc-lg-auto: true

		@else
			width: $container-width-tab-lg
			margin: 0 auto
			
			$container-width-pc-lg-auto: false








