$column-name: $total-column

@while $column-name > 0
	.col-#{$column-name}
		margin: 0
		float: $column-float
		padding: 0 $column-padding
		box-sizing: border-box

		// Phone

		@media (max-width: $phn-sm-max)
			@if $container-width-phn-sm == auto
				width: ((100% / $total-column) * $column-name)

			@else
				width: (($container-width-phn-sm / $total-column) * $column-name)

		@media (min-width: $phn-md-min)
			@if $container-width-phn-md == auto
				width: ((100% / $total-column) * $column-name)

			@else
				width: (($container-width-phn-md / $total-column) * $column-name)

		@media (min-width: $phn-lg-min)
			@if $container-width-phn-lg == auto
				width: ((100% / $total-column) * $column-name)

			@else
				width: (($container-width-phn-lg / $total-column) * $column-name)

		// Tab

		@media (min-width: $tab-sm-min)
			@if $container-width-tab-sm == auto
				width: ((100% / $total-column) * $column-name)

			@else
				width: (($container-width-tab-sm / $total-column) * $column-name)

		@media (min-width: $tab-md-min)
			@if $container-width-tab-md == auto
				width: ((100% / $total-column) * $column-name)

			@else
				width: (($container-width-tab-md / $total-column) * $column-name)

		@media (min-width: $tab-lg-min)
			@if $container-width-tab-lg == auto
				width: ((100% / $total-column) * $column-name)

			@else
				width: (($container-width-tab-lg / $total-column) * $column-name)

		// PC

		@media (min-width: $pc-sm-min)
			@if $container-width-pc-sm == auto
				width: ((100% / $total-column) * $column-name)

			@else
				width: (($container-width-pc-sm / $total-column) * $column-name)

		@media (min-width: $pc-md-min)
			@if $container-width-pc-md == auto
				width: ((100% / $total-column) * $column-name)

			@else
				width: (($container-width-pc-md / $total-column) * $column-name)

		@media (min-width: $pc-lg-min)
			@if $container-width-pc-lg == auto
				width: ((100% / $total-column) * $column-name)

			@else
				width: (($container-width-pc-lg / $total-column) * $column-name)

	$column-name: $column-name - 1